---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import StickyMenu from "../components/StickyMenu.astro";
import ProjectPage from "../components/ProjectPage.astro";
---

<Layout>
	<StickyMenu />
	<ProjectPage title="drown: a 3d godot game" images={[]}>
		<!--The copy for this is terrible. TODO: fix.-->
		<p>
			This is a work-in-progress third-person
			survival game made in Godot 4. I've mostly focused on systems:
			branching dialogue, AI, item and inventory logic, randomized loot, etc.
			For now, all visuals are crude, and the animations are placeholders, and the level
			is just a greyboxed test world.
		</p>
		<p>
			I've learned a bunch of stuff while making this, everything from 
			architecture to shaders. It has been enriching. At times, it has been
			difficult (especially struggling through Blender). But it has been fun to keep
			on churning when things get hard. I could meander on about what I've made and
			learned, but the video below shows the current state of things better than I can
			accomplish in words.
		</p>

		<div class="spacer"></div>

		<p style="padding-bottom: 1rem;">
			The following "mechanics demo" leaves much to be desired. It is
			difficult to showcase my work in this case because I have almost
			exclusively worked on non-visual things, but I've written a few
			thousand lines of code for this. For the branching dialogue system, I
			also wrote a helper program with Svelte Flow and Vite (see it on GitHub: <a
						href="https://github.com/emil-ke/Ramosa"
						class="accentLink"
						target="_blank">GitHub/emil-ke/Ramosa</a
					>)

		</p>
		<iframe width="100%" height="400" src="https://www.youtube.com/embed/FnW4lofY0YU?si=bKCHahyDvPQU0haF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</ProjectPage>
	<Footer />
</Layout>
