---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import StickyMenu from "../components/StickyMenu.astro";
import ProjectPage from "../components/ProjectPage.astro";
---

<Layout>
	<StickyMenu />
	<ProjectPage title="gitignore" images={["/gitignore_screenshot1.webp"]}>
		<p>
			A small CLI tool for automatically adding files or directories to a
			project’s root <code>.gitignore</code> file. Built in C++.
		</p>
		<p>
			I built this because I sometimes forget how you're supposed to add
			stuff to <code>.gitignore</code>, especially when working deep
			inside nested folders, and I don’t like populating the directory
			with <code>.gitignore</code> files in every subdirectory. With this project,
			I can instead just run <code>gitignore path/to/file</code> and it adds
			the correct relative path to the root <code>.gitignore</code>, even
			if I'm many levels deep in the tree.
		</p>
		<p>
			It recursively traverses upward to find the nearest <code>.git</code
			> folder (or lets you pick if there are multiple), computes the relative
			path, and appends it to the right <code>.gitignore</code> file, unless
			it’s in already there.
		</p>

		<p>
			If there are no collisions (multiple <code>.git</code> folders all the
			way up the directory tree), it automatically picks the root of the .git
			and adds the thing to ignore, which is sensible standard-behavior, I
			think. It only interacts with the user in the case of coliding .git folders.
		</p>

		<div class="spacer"></div>

		<ul>
			<li>Built with C++17</li>
			<li>
				See the source code: <a
					href="https://github.com/emil-ke/gitignore"
					class="accentLink"
					target="_blank">GitHub/emil-ke/gitignore</a
				>
			</li>
		</ul>
	</ProjectPage>
	<Footer />
</Layout>
