---
// src/pages/index.astro
import BaseHead from "../components/BaseHead.astro";
import Projects from "../components/Projects.astro";
import Header from "../components/Header.astro";
import Landing from "../components/Landing.astro";
import ConwayGameBlock from "../components/ConwayGameBlock.astro";
---

<!doctype html>
<html lang="en" data-theme="dark">
	<BaseHead title="Whatever" description="" />

	<style>
		main {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	</style>

	<body data-theme="dark">
		<main>
			<Header />
			<Landing />
			<ConwayGameBlock />

			<h1 style="padding: 12rem 0 2rem 0" class="hidden font-change">
				/src/some_projects
			</h1>
			<Projects />
		</main>
	</body>
</html>
