---
import Layout from "../layouts/Layout.astro";
import StickyMenu from "../components/StickyMenu.astro";
import ProjectPage from "../components/ProjectPage.astro";
---

<Layout>
	<StickyMenu />
	<main>
		<ProjectPage
			title="poetry generator"
			images={[
				"/poetry.webp",
				"/poetry_screenshot1.webp",
				"/poetry_screenshot2.webp",
			]}
		>
			<p class="desc">
				A command-line poetry generator that uses certain poetic devices
				(assonance, primarily) to create semantically oblivious verses.
			</p>
			<p>This is more of a semiotic experiment than a technical project.</p>
			<p>
				Even though the results are often very janky and nonsensical, if you
				pick your keywords carefully it can spit out surprisingly cohesive poems
				with a fragmented, ambiguous tone, making it feel deliberate rather than
				accidental, at times. Like a kind of Rorschach blot of syntax, carrying
				a sort of twisted body of language without soul, but even still, meaning
				can emerge through the cracks (e.g., “the unmade and the puny unfit /
				the humdrum was trumpeted by the mug”).
			</p>
			<p>
				I think the divide between nonsense and sense is itself interesting,
				which is why I built this. Humans are nearly pathologically allergic to
				senselessness. We're helplessly apophenic little animals. Meaning
				addicts. I.e. nonsense often gets metabolized into coherence, even if
				the intent of a sentence is utterly meaningless (Chomsky famously
				constructed, “Colorless green ideas sleep furiously,” as an example of a
				grammatically correct, senseless statement. John Hollander, inspired by
				it, came up with this poem: “Curiously deep, the slumber of crimson
				thoughts: / While breathless, in stodgy viridian / Colorless green ideas
				sleep furiously”).
			</p>
			<p>
				The interesting part, to me, is not the "poems" (if you can call them
				that, artifacts might be a better word) that are produced here but,
				rather, the way they're read.
			</p>
			<p>
				As for who it works: A wordbank (a JSON file filled with verbs, nouns,
				adjectives, etc.) is built from the NLTK Gutenberg corpus, a collection
				of public domain books; manually-constructed line templates are filled
				with the user's keywords as well as algorithmically picked words from
				the wordbank, in which word choice is driven by vowel overlap
				(assonance), giving the output a kind of singsongy feel.
			</p>

			<div class="spacer"></div>

			<ul>
				<li>
					Source code: <a
						href="https://github.com/emil-ke/poem-p1"
						class="accentLink"
						target="_blank">github.com/emil-ke/poem-p1</a
					>
				</li>
			</ul>
		</ProjectPage>
	</main>
</Layout>
