---
import Layout from "../layouts/Layout.astro";
import StickyMenu from "../components/StickyMenu.astro";
import ProjectPage from "../components/ProjectPage.astro";
---

<Layout>
	<StickyMenu />
	<main>
		<ProjectPage
			title="Poetry generator"
			images={[
				"/poetry_screenshot1.webp",
				"/poetry_screenshot2.webp",
				"/poetry_screenshot3.webp",
			]}
		>
			<p class="desc">
				A command-line poetry generator that uses certain poetic devices
				(assonance, primarily) to create semantically oblivious verses.
			</p>
			<p>This is more of a semiotic experiment than a technical project.</p>
			<p>
				Even though the results are often very janky, ungrammatical, and
				nonsensical, if you pick your keywords carefully it can spit out
				surprising poems with a fragmented, ambiguous tone, at times making it
				feel deliberate rather than accidental. It's like a kind of Rorschach
				blot of syntax, carrying a sort of twisted body of language without
				soul, but even still, meaning can peer through (e.g., “the unmade and
				the puny unfit / the humdrum was trumpeted by the mug”; to me this feels
				like it's nearly pulling on something real while remaining largely
				nonsensical, which makes it feel somewhat uncanny).
			</p>
			<p>
				I think the divide between nonsense and sense is itself interesting,
				which is why I built this. Humans are nearly pathologically allergic to
				senselessness. We're helplessly apophenic little animals. Addicted to
				meaning. I.e. nonsense often gets metabolized into coherence, even if
				the intent of a sentence is utterly meaningless (Chomsky famously
				constructed, “Colorless green ideas sleep furiously,” as an example of a
				grammatically correct, senseless statement. John Hollander, inspired by
				it, came up with this poem: “Curiously deep, the slumber of crimson
				thoughts: / While breathless, in stodgy viridian / Colorless green ideas
				sleep furiously”).
			</p>
			<p>
				I find the poems of this generator (if they can be called that: "written
				artifacts" might be more apt) less interesting than the way they're
				read. In playing around with it, I've been surprised by what it spits
				out, and because of this I've considered adding it to my game (<a
					href="/game"
					class="accentLink">TOLTO!</a
				>).
			</p>
			<p>
				As for how it works: A wordbank (a JSON file filled with verbs, nouns,
				adjectives, etc.) is built from the NLTK Gutenberg corpus, a collection
				of public domain books; manually-constructed line templates are filled
				with the user's keywords as well as algorithmically picked words from
				the wordbank, in which word choice is driven by vowel overlap
				(assonance), giving the output a kind of singsongy feel.
			</p>

			<div class="spacer"></div>

			<ul>
				<li>
					Source code: <a
						href="https://github.com/emil-ke/poem-p1"
						class="accentLink"
						target="_blank">github.com/emil-ke/poem-p1</a
					>
				</li>
			</ul>
		</ProjectPage>
	</main>
</Layout>
