---
import Layout from "../layouts/Layout.astro";
import StickyMenu from "../components/StickyMenu.astro";
---

<style>
	.proj {
		height: 100vh;
	}
</style>

<Layout>
	<StickyMenu />
	<div class="proj">
		<h4 class="title">poetry generator</h4>
		<div class="desc"></div>
	</div>
</Layout>
