<style>
    .about {
        display: grid;
        grid-template-columns: 4% 1fr 1fr 4%;
        grid-template-rows: repeat(12, 1fr);
        height: 100vh;
        background-image: url("abstract.webp");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-image: url("/shirt-self-portrait3.webp");
        background-size: 50%;
        background-position: 100% 0;
        background-repeat: no-repeat;*/
    }

    .aboutHeading {
        grid-row: 2;
        grid-column: 2;
    }
    .img {
        grid-row: 1 / 13;
        grid-column: 3 / 5;
        background-image: url("/shirt-self-portrait3.webp");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-desc {
        grid-row: 9;
        grid-column: 3/5;
    }
</style>

<section class="about" id="about">
    <h5 class="aboutHeading">about</h5>
    <div class="img"></div>
    <div class="img-desc">sfdklsjfklsdjfklsjfl</div>
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".aboutHeading", {
        scrollTrigger: ".aboutHeading",
        opacity: 0,
    });

    gsap.to(".aboutHeading", {
        scrollTrigger: ".aboutHeading",
        opacity: 1,
    });
</script>
