<style>
	.siteFooter {
		position: fixed;
		bottom: 0;
		left: 0;
		background: var(--accent_d);
		height: var(--footer-h);
		width: 100%;
		z-index: 0;
		transform: translateZ(0);
		will-change: transform;
	}

	.footerWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 4%;
		height: 100%;
		width: 100%;
	}

	.left {
		width: 50%;
		display: flex;
		align-items: baseline;
		gap: 1.5em;
		font-size: 1.1em;
	}

	.GitHubLink {
		color: var(--text-color)
		text-decoration: none;
		white-space: nowrap;
	}

	.GitHubLink > .GitHubName {
		transition: color 0.2s ease-out;
	}

	.GitHubLink:hover > .GitHubName {
		color: var(--accent);
	}

	.GitHubName {
		color: var(--background);
	}

	@media (max-width: 768px) {
		.left {
			width: 100%;
		}
		footer {
			font-size: 0.9em;
		}
		h4 {
			display: none;
		}
	}
</style>

<footer class="siteFooter">
	<div class="footerWrapper">
		<div class="left">
			<h4>Hi,</h4>
			<span>
				have a peek at my
				<a href="https://github.com/emil-ke" class="GitHubLink">
					GitHub: <span class="GitHubName accentLink">github.com/emil-ke</span>
				</a>
			</span>
		</div>
		<p>© 2026. Emil Bertlin</p>
	</div>
</footer>
