<style>
    .footerWrapper {
        position: sticky;
        top: calc(100vh - 200px);
        height: 200px;
        width: 100%;
    }

    footer {
        background: var(--accent_l);
        color: var(--accent);
        display: flex;
        justify-content: space-between;
        padding: 1rem 4% 1rem 4%;
        align-items: center;
        height: 100%;
        width: 100%;
    }
</style>

<div
    style="position: relative; height: 200px; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);"
>
    <div style="position: relative; height: calc(100vh + 200px); top: -100vh;">
        <div class="footerWrapper">
            <footer>
                <h4>Hi</h4>
                <p>© 2025. Emil Bertlin.</p>
            </footer>
        </div>
    </div>
</div>
