<style>
    header {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 2% 1fr 2%;
    }
    nav {
        grid-column: 2;
        text-align: end;
    }

    .sticky-header {
        position: sticky;
        top: 0;
    }
</style>

<div class="sticky-header">
    <header>
        <nav>menu</nav>
    </header>
</div>
