---
import { projects } from "../data/projects";
---

<style>
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--accent);
        height: 8vh;
        padding-right: 4rem;
    }
    ul {
        grid-column: 1;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    ul li {
        padding-left: 2rem;
        display: block;
        text-align: right;
    }

    ul li a {
        transition: color 0.2s ease-in-out;
        color: var(--accent_l);
        letter-spacing: -1px;
        font-weight: 400;
    }

    ul li a:hover {
        color: var(--accent_d);
    }

    .project-number {
        font-size: 0.8rem;
        vertical-align: super;
        margin-left: 0.2rem;
    }
</style>

<nav>
    <ul>
        <li>
            <a href="#projects"
                >PROJECTS<span class="project-number">({projects.length})</span>
            </a>
        </li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</nav>
