---
import Header from "./Header.astro";
---

<style>
    .heroWrapper {
        height: 64vh;
        width: 100%;
        background-color: var(--accent);
        display: grid;
        grid-template-columns: 2% repeat(10, 1fr) 2%;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .name {
        color: var(--accent_l);
        margin: 0;
        grid-column-start: 7;
        grid-row-end: -1;
        min-width: 9rem;
        letter-spacing: -27px;
        font-weight: 300;
    }

    @media (max-width: 768px) {
        .heroWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .name {
            font-size: 13rem;
            font-weight: 300;
            letter-spacing: -20px;
        }
    }
</style>

<>
    <Header />
    <div class="heroWrapper">
        <h1 class="name">emil</h1>
    </div>
</>

<script>
    import { gsap } from "gsap";
    import ScrambleTextPlugin from "gsap/ScrambleTextPlugin";
    gsap.registerPlugin(ScrambleTextPlugin);

    const text = document.querySelector(".name");

    text.addEventListener("mouseenter", () => {
        gsap.to(text, {
            duration: 0.75,
            scrambleText: {
                text: "e. bertlin",
                chars: "12$",
                speed: 0.4,
            },
        });
    });

    text.addEventListener("mouseleave", () => {
        gsap.to(text, {
            delay: 0.2,
            scrambleText: {
                text: "e.b.",
                chars: "?!",
                speed: 0.4,
            },
        });
    });

    gsap.to(text, {
        delay: 0.2,
        duration: 0.5,
        scrambleText: {
            text: "e.b.",
            chars: "!?$&%",
            speed: 0.4,
        },
        ease: "power2.inOut",
    });

    gsap.to(".heroWrapper", {
        delay: 0.9,
        duration: 0.45,
        ease: "power3.inOut",
        height: innerHeight / 3,
    });
</script>
