---
import Card from "./Card.astro";
import { projects } from "../data/projects";
---

<style>
    .projects {
        display: grid;
        grid-template-columns: 4% 1fr 1fr 4%;
        grid-template-rows: auto 1fr;
        position: relative;
        margin-bottom: 8rem;
        z-index: 1;
    }

    .projectsHeading {
        position: absolute;
        z-index: -2;
        color: var(--accent);
        top: 40%;
        left: 4%;
    }

    .projectCard.leftAligned {
        text-align: left;
        justify-self: start;
    }
    .projectCard.rightAligned {
        text-align: right;
        justify-self: end;
    }
</style>

<section class="projects" id="projects">
    <h5 class="projectsHeading">projects</h5>
    {
        projects.map((project, idx) => (
            <div
                class={`projectCard ${idx % 2 === 0 ? "leftAligned" : "rightAligned"}`}
                style={`grid-column: ${idx % 2 === 0 ? 3 : 2}; grid-row: ${idx + 2};`}
            >
                <Card
                    name={project.name}
                    description={project.description}
                    link={project.link}
                />
            </div>
        ))
    }
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".projectsHeading", {
        scrollTrigger: ".projectsHeading",
        opacity: 0,
    });

    gsap.to(".projectsHeading", {
        scrollTrigger: ".projectsHeading",
        opacity: 1,
    });
</script>
