---
import HeroHeader from "./HeroHeader.astro";
---

<style>
    .wrapper {
        height: 64vh;
        width: 100%;
        background-color: var(--accent);
        display: grid;
        grid-template-columns: 2% repeat(10, 1fr) 2%;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .name {
        margin: 0;
        grid-column-start: 7;
        grid-row-end: -1;
        min-width: 9rem;
    }
</style>

<>
    <HeroHeader />
    <div class="wrapper">
        <h1 class="name">emil</h1>
    </div>
</>

<script>
    import { gsap } from "gsap";
    import ScrambleTextPlugin from "gsap/ScrambleTextPlugin";
    gsap.registerPlugin(ScrambleTextPlugin);

    const text = document.querySelector(".name");

    text.addEventListener("mouseenter", () => {
        gsap.to(text, {
            duration: 0.3,
            scrambleText: {
                text: "emil",
                chars: "12$",
            },
        });
    });

    text.addEventListener("mouseleave", () => {
        gsap.to(text, {
            delay: 0.4,
            duration: 0.8,
            scrambleText: {
                text: "EMIL",
                chars: "?!",
            },
        });
    });

    gsap.to(text, {
        duration: 0.45,
        scrambleText: {
            text: "EMIL",
            chars: "!@(f0",
        },
    });

    gsap.to(".wrapper", {
        delay: 0.3,
        duration: 0.4,
        ease: "power3.inOut",
        height: innerHeight / 3,
    });
</script>
