---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
	<BaseHead title="Whatever" description="Todo" />
	<body data-theme="dark" lang="en">
		<slot />
	</body>
</html>
<style is:global>
	#content {
		font-size: 64px;
	}

	#nested {
		overflow-y: auto;
		height: 250px;
		width: 80%;
		margin: 64px auto;
		overscroll-behavior-y: contain;
	}

	.lenis-scrolling iframe {
		pointer-events: none;
	}
</style>
