---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<style>
	#noise-bg {
		position: fixed;
		z-index: 10;
		inset: -50%;
		width: 400%;
		height: 400vh;
		background: url("/noise.png") repeat;
		pointer-events: none;

		mix-blend-mode: overlay;
		opacity: 1;
		animation: noise 120ms steps(2) infinite;
	}
	@keyframes noise {
		0%,
		100% {
			background-position: 0 0;
		}
		10% {
			background-position: -5% -10%;
		}
		20% {
			background-position: -15% 5%;
		}
		30% {
			background-position: 7% -25%;
		}
		40% {
			background-position: 20% 25%;
		}
		50% {
			background-position: -25% 10%;
		}
		60% {
			background-position: 15% 5%;
		}
		70% {
			background-position: 0 15%;
		}
		80% {
			background-position: 25% 35%;
		}
		90% {
			background-position: -10% 10%;
		}
	}
</style>

<html lang="en">
	<BaseHead
		title="Emil Bertlin | Portfolio"
		description="Portfolio of developer Emil Bertlin."
	/>
	<body data-theme="dark" lang="en">
		<div id="noise-bg"></div>
		<main class="pageContent">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	import Lenis from "lenis";

	const lenis = new Lenis();

	// Use requestAnimationFrame to continuously update the scroll
	function raf(time) {
		lenis.raf(time);
		requestAnimationFrame(raf);
	}

	requestAnimationFrame(raf);
</script>

<style is:global>
	#content {
		font-size: 64px;
	}

	#nested {
		overflow-y: auto;
		height: 250px;
		width: 80%;
		margin: 64px auto;
		overscroll-behavior-y: contain;
	}

	.lenis-scrolling iframe {
		pointer-events: none;
	}
</style>
