---
import Layout from "../../layouts/Layout.astro";
import StickyMenu from "../../components/StickyMenu.astro";
import ProjectPage from "../../components/ProjectPage.astro";
---


<style>
	.s {
		color: var(--accent_l);
	}
</style>

<Layout>
	<StickyMenu />
	<main>
		<ProjectPage
			title="Butterfly Sotto"
			images={["/chase1908.webp"]}
			writing_page="true"
			>
			<p class="desc">
				By the end of first year I stared down beer bottles waiting for
				something to happen. Anything. I needed something I couldn’t name. I
				imagined answers would float up from the foam and jostle themselves onto
				me. Jonas was there, my German friend. He palmed down his thin jacket,
				spelunking for a surprise, and pulled out a dented can of snus. He
				smiled with the teeth of someone who knew. Strong stuff, he said. I
				smiled thinking of the last I’d done it. A decade had passed, the memory
				no more solid than a soap bubble. Snus was cool when you stole it from
				drunk parents or siblings, the holy spirit, biking through the village,
				spitting with fat upper lips. So I filled my lip like a hick, yet again.
				And when it hit, it hit mercilessly, as though nicotine could peel me
				from myself, the body forgetting it's a body. <br />
				<br />
				We sat out front, smoke rising from strange figures, the sun squatting low
				in the sky like a Slavic fellow with nowhere to be. Inside was a house-turned-bar,
				green wooden walls wallowing with old paint, a place for math freaks and
				their cheap beers and proofs. The seniors were talking, as they tend to do.
				Theorems, lemmas, and whatever else is ideal. I couldn’t catch much of anything,
				listening to the muffled bells of this peculiar cult, just some fragments
				of infinity and symmetry.<br />
				<br />
				Lovisa, another friend of mine, stood with her arms crossed like a lighthouse
				against the wall, talking to a boy who whispered about wanting Jonas. Their
				eyes kept tracking me.<br /><br />
				“You look pale,” she said.<br /><br />
				“Yeah,” I said.<br /><br />
				“You’re going to throw up,” the boy said, referring to the snus.<br
				/><br />
				“Yes,” I said. But I didn’t move. I kept my ass on the ground. They stared
				harder and I weaponized my smile.<br /><br />
				“Stop looking at me,” I said.<br /><br />
				“You look heartbroken,” the boy said.<br /><br />
				“I’m only dizzy.”<br /><br />
				“Spit it out.”<br /><br />
				“No,” I said. “I’ll keep it, just a little longer.”<br /><br />
				The world kept on turning on its stick, and the stick was about to snap.
				Wine glowed under my skin as the sky frayed into green-pink edges, edges
				strewn all haphazardly. When I was left alone, I pointed at a bald man and
				said, “Go on Derek, speak a little Chinese for ‘em.” He was confused. I was
				amused. I could’ve laughed till midnight, but God had different plans.<br
				/><br />
				The bathroom was a red-painted coffin, graffiti everywhere, equations like H+C
				= &lt3. Hamlet and Claudius, hookers and cocaine, hydrogen and carbon, all
				of it combustible. The mirror’s failure made my face look like some sort
				of contorted Schiele print. I bent over the sink and waited. Nothing. I pressed
				my fingers into my guts, prayed for vomit. Nothing. I called Jesus’ name.
				Nothing. Nothing.<br /><br />
				I felt an unbearable lightness. I felt like laughing. What was there but
				laughter? Jesus should’ve laughed at the cross before dying in lightness.<br
				/><br />
				My fingers buried into my forehead. My back against the wall. Minutes turned
				to foil and fell away. Music trembled through the walls as if somebody was
				strangling the bassist. There was a knock at the door. Then frantic fists
				followed by the mob’s voice outside, wanting me gone, wanting me dead. I
				held still. I was a pretending corpse, just a moment. It was a nice moment,
				a calm void of sorts. But finally I splashed water on my face and opened
				the door and subjected myself to the glare of strangers stacked in the hall,
				their anger the only oxygen. They probably thought I was in there shooting
				heroin.<br /><br />
				Back in the main room, people stacked atop each other. The bar had reached
				its capacity. Voices walled over all zoo-like. Tangled syllables making zero
				sense. The floor rolled like a drunk gymnast and I tippy-toed around. Familiar
				shapes appeared and dissolved.<br /><br />
				At a table, someone waved. “Let Filip try a pickup line on you,” a vigorous
				voice said. Was that my aura? Someone to be subjected to pickup lines?<br
				/><br />
				Before I could speak, Filip leaned in, grinning on gold, his timing sublime:<br
				/><br />
				“So there’s this study about penguins—”<br /><br />
				And I detonated, puke cascading to the floor, the wet sound shutting down every throat in the room.<br /><br />
				And for one holy second,<br />
				there was silence.<br /><br />
				<br /><br />
				<br /><br />

				Chairs scraped and disgust spread and bodies scattered.<br /><br />
				Filip never reached the end of his line.<br /><br />
				After lying in my wet pool of vomit for a while, I got up, swept my sleeve
				on my lips and grinned. Then I got to walking. The guy holding the door line,
				whoever that child of God was, his face all featureless, said, “You’re out.”<br
				/><br />
				“Yeah.”<br /><br />
				The night outside was cold and violet. The air opened my chest like a big
				dumb bear trap. I couldn’t go home. Home, the stupid deep indoors, was waiting
				with its terrible thoughts, ready to pour them into my head. So I bought
				gum from a kiosk and chewed as if that might anchor me. The rain came like
				some inane genesis. You could feel the puddles on your tongue. The street
				shone and every lamp doubled itself in the slick.<br /><br />
				I walked through it. An idiot like myself gave a full-throated scream somewhere
				far off, lacking anything discernible. It could’ve been an animal for all
				I know, or a fencepost. Water rolled down my face, into my eyes and ears.
				I stopped at a puddle, where my reflection shook, my face a ribbon blocking
				a red building hanging above me like a fever. For a moment I thought if I
				stepped into it I’d keep on falling forever, headlong into that other city
				beneath the street, the one that’s inverted, the one where I’m lefthanded
				and happy.<br /><br />
				But I didn’t. I walked on, tapping my thin shoes on the street, until the lights of another
				bar promised me something, something good.<br /><br /><br />

				The light inside is like that of a clementine stripped of its cover, its
				white strings clutching the walls. There are no buyers in, only me. A
				guy with one tooth stares at me over a stock of spirits. I stare back.
				This is the game now. Who blinks first? I don’t know. I shuffle down the
				checkered floor. A week-old hot dog. That’s what it smells like in here.
				Raindrops slosh down the windows like they’ve seen some shit. Again,
				somewhere, someone screams as though they’ve seen god. It’s funny. Even
				flies get to chase the light and bump into it. Not I. Not me. I want to
				be more; I want to be graceful and dignified. I want to be a butterfly.
				I wish I soared through the world with ease, living without thoughts for
				my few weeks of life, before the black repose, just gently landing
				wherever I wish, knowing transcendence because I am it and it is me. I
				don’t know if the one-toothed man has blinked yet, but I know I haven’t.
			</p>
		<span class="spacer"></span>
		<span class="small s">(This is an excerpt from a work-in-progress novel provisionally titled <i>A Kind of Blasphemous Blinking</i>.)</span>
		</ProjectPage>
	</main>
</Layout>
