---
import Layout from "../../layouts/Layout.astro";
import StickyMenu from "../../components/StickyMenu.astro";
import ProjectPage from "../../components/ProjectPage.astro";
---

<style>
	.s {
		color: var(--accent_l);
	}

	.desc p {
		text-indent: 1.8rem;
		margin: 0 0 0.5rem;
		line-height: 1.7;
	}

	.desc p:first-child {
		text-indent: 0;
	}
</style>

<Layout>
	<StickyMenu />
	<main>
		<ProjectPage
			title="Butterfly Sotto"
			images={["/chase1908.webp"]}
			writing_page="true"
		>
			<div class="desc">
				<p>
					By the end of first year I stared down beer bottles waiting for
					something to happen. Anything. I needed something I couldn’t name. I
					imagined answers would float up from the foam and jostle themselves
					onto me. I was at a bar with Lucus, a friend. Magnolia flowers flew
					well above the suncracked road, led by gentle wind. A cherubic child
					walked by with a red balloon, a delicate string in her hand extending
					skyward. She looked like she was about to fly herself. It was
					terrifying, such closeness to sublime simplicity, such an easiness of
					expression, smiling, bouncing on her heels. Lucas, on the other hand,
					wore a face of disappointment until reaching down his shirt pocket,
					spelunking for a surprise, and uncovered a can of snus. Strong stuff,
					he said. He grinned. I smiled back thinking of—what—a decade ago,
					impressions of lining your lip as a dumb little kid, biking through
					the village with sun on your face, spitting, having stolen a few
					pouches off a drunk parent or whatnot. It felt like none of my
					memories were more solid than bubbles of soap. But despite my better
					judgment, I filled my lip like a hick, yet again. And when it hit, the
					nicotine seemed to peel me from myself, the body forgetting it's a
					body.
				</p>
				<p>
					We sat out front, smoke rising from fleeing figures, the sun squatting
					low in the sky like a Slavic fellow with nowhere to be. Inside was a
					house-turned-bar, cheap beer soaking the tabletops, physicists lost on
					the chairs. And the geologists were licking all of the rocks again.
				</p>
				<p>
					Another friend of mine stood with her arms crossed against the green
					façade talking to a boy whispering about wanting Lucas (who had gone
					inside). Their eyes kept tracking me.
				</p>

				<p>“You look pale,” she said.</p>
				<p>“Yeah,” I said.</p>
				<p>“You’re going to throw up,” the boy said, referring to the snus.</p>
				<p>
					“Yes,” I said. But I didn’t move. I felt the cold earth below me. They
					stared harder and I weaponized my smile, as one does.
				</p>
				<p>“Stop looking at me,” I said.</p>
				<p>“You look heartbroken,” the boy said.</p>
				<p>“I’m only dizzy.”</p>
				<p>“Spit it out.”</p>
				<p>“No,” I said. “I’ll keep it, just a little longer.”</p>
				<p>
					After similarly tedious conversation, I was left alone. And the world
					kept on turning on its stick, and the stick was about to snap. Wine
					glowed under my skin as the sky frayed into green-pink edges, edges
					strewn all haphazardly. I was pulled into the viscous goo of things.
					Its plans for me must been awful, I thought.
				</p>
				<p>
					The bathroom was a sort of red-painted coffin, graffiti everywhere,
					equations like H+C = &lt3. Hamlet and Claudius, hookers and cocaine,
					hydrogen and carbon, all of it combustible. The mirror’s failure made
					my face look like some sort of contorted Schiele print. I bent over
					the sink and waited. Nothing. I pressed my fingers into my guts,
					prayed for vomit. Nothing. "Jesus," I said.
				</p>
				<p>
					I felt an unbearable lightness. I felt like laughing. What was there
					but laughter? Christ should’ve laughed on the cross. (Is that a
					Bukowski line?)
				</p>
				<p>
					My fingers buried into my forehead. My back against the wall. Minutes
					turned to foil and fell away. Music trembled through the walls as if
					somebody was strangling the bassist. There was a knock at the door.
					Then frantic fists followed by a mob’s voice, wanting me gone, wanting
					me dead. I held still. I was a pretending corpse, just a moment. It
					was a nice moment, a calm void of sorts. But finally I splashed water
					on my face and opened the door and subjected myself to the glare of
					strangers stacked in the hall, their anger the only oxygen. They
					probably thought I was in there shooting heroin.
				</p>
				<p>
					Back in the main room, people stacked atop each other. The bar had
					reached its capacity. Voices walled over all zoo-like. Tangled
					syllables making zero sense. The floor rolled like a drunk gymnast and
					I tippy-toed on its back. Familiar shapes appeared and dissolved.
				</p>
				<p>
					Someone waved from a table. “Let Filip try a pickup line on you,” a
					vigorous voice said. Was that my aura? Someone to be subjected to a
					pickup line?
				</p>
				<p>
					Before I could speak, Filip leaned in, grinning on gold, his timing
					sublime:
				</p>

				<p>“So there’s this study about penguins—”</p>
				<p>
					And I detonated, puke cascading to the floor, the wet sound shutting
					down every throat in the room.
				</p>
				<p>And for one sad exalted second, there was silence.</p>
				<p>Chairs scraped and disgust spread and bodies scattered.</p>
				<p>Filip never reached the end of his line.</p>
				<p>
					After lying in my wet pool of vomit for a short while, I got up, swept
					my sleeve on my lips and grinned. Then I got to walking. The guy
					holding the door line, whoever that child of God was, his face all
					featureless, said, “You’re out.”
				</p>
				<p>“Yeah.”</p>
				<p>
					The night outside was cold and violet. The air opened my chest like a
					big dumb bear trap. I couldn’t go home. Home, the stupid deep indoors,
					was waiting with its terrible thoughts, ready to pour them into my
					head. So I bought gum from a kiosk and chewed as if that might anchor
					me. The rain came like some inane genesis. You could feel the puddles
					on your tongue. The street shone and every lamp doubled in the slick.
				</p>
				<p>
					I walked through it. An idiot like myself let out a full-throated
					scream somewhere far off, lacking anything discernible. It could’ve
					been an animal for all I know, or a fencepost. Water rolled down my
					face, into my eyes and ears. I stopped at a puddle. My reflection wet
					and fluttering. For a moment I thought if I stepped into it I’d keep
					on falling forever, headlong into that other city beneath the street,
					the one that’s inverted, the one where I’m lefthanded and happy.
				</p>
				<p>
					I dipped my foot in. It was shallow and the world was all shaky. That
					was it. It was Thursday and the world was shaking in the puddle.
				</p>
				<p>
					I walked on, guided by nothing, until the sheen of another bar
					promised me something, something good.
				</p>
				<p>
					The light inside is like that of a clementine stripped of its cover,
					its white strings clutching the walls. There are no buyers in, only
					me. A guy with one tooth stares at me over a stock of spirits. I stare
					back. This is the game now. Who blinks first? I don’t know. I shuffle
					down the checkered floor. A week-old hot dog. That’s what it smells
					like in here. Raindrops slosh down the windows like they’ve seen some
					shit. Again, somewhere, someone screams as though they’ve seen some
					shit. It’s funny. Even flies get to chase the light and bump into it.
					Not I. Not me. I want to be more; I want to be graceful and dignified.
					I want to be a butterfly. I wish I soared through the world with ease,
					living without thoughts for my few weeks of life, before the black
					repose, just gently landing wherever I wish, knowing transcendence
					because I am it and it is me. I don’t know if the one-toothed man has
					blinked yet, but I know I haven’t.
				</p>
			</div>
			<span class="spacer"></span>
			<span class="small s"
				>(This is an excerpt from a work-in-progress novel provisionally titled <i
					>A Kind of Blasphemous Blinking</i
				>.)</span
			>
		</ProjectPage>
	</main>
</Layout>
